@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000000;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
}

.large-title {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}
.large-title {
  display: flex;
  align-items: center;
  background: url('images/ProcoreLogo.png') no-repeat left center; /* Set the background image here */
  background-size: auto 100%; /* Adjust the background size as needed */
  padding-left: 50px; /* Adjust the padding to control the spacing between the image and the text */
}

.large-title::before {
  content: ""; /* This is used to create an empty space for the image */
  width: 50px; /* Set the width of the image container */
  height: 50px; /* Set the height of the image container */
  
  background-size: cover; /* Adjust the background size as needed */
}

.content-container {
  text-align: center;
  background: rgb(98, 112, 130);
  color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto; /* Center the container horizontally */
  max-width: 1000px; /* Set a maximum width to limit the container's width */
  margin-bottom: 15px;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  background: #000;
  box-shadow: 0 0 50px #0ef;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
  display: flex; /* Make the wrapper a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.chatbot-container {
  text-align: center; /* Center the contents inside the chatbot container */
}
#portfolio{
  padding: 50px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:40px;
  margin-top: 50px;


}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(232, 222, 222, 0.6), #e29e63);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; /* Change this to "center" to horizontally center the content */
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold; /* Add this line to make all text bold */
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 20px;
}

.layer a {
  margin-top: 20px;
  color: #9C0063;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold; /* Add this line to make the link text bold */
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #0ef;


  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
}